.ColorCard {
  list-style: none;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.color-container {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-title {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
